.toolbar{
    border: 1px solid black;
    height: 70px;
}
.tools-div{
    margin: 0 0 0 10px;
}
.tools-div input{
    margin: 5px 3px;
}
.content{
    border: 1px solid black;
    height: 502px;
    width: 668px;
}

canvas{

}
.operations{
    border: 1px solid black;
    height: 40px;
}
.operations button{
    margin: 10px 0 0 10px;
}
.center{
    width: 50%;
    margin: auto;
}
#file-input{
    visibility: hidden;
    position: absolute;
}
.dragover{
    border: 1px solid cornflowerblue;
}